/* colors ---> dark blue (rgb 0,46,99), gray-blue (rbg96 130 182) */

html {
  scroll-behavior: smooth;
}

body {
  margin: 20px 0;
}

header {
  border-bottom: solid 2px rgb(0, 46, 99);
  padding-bottom: 30px;
  margin: 0 25px;
}

.page-title {
  color: rgb(0, 46, 99);
  font-family: 'Grenze-Light';
  font-size: 60px;
  text-align: center;
  margin: 0;
}

.chapters {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 25px;
}

.chapter-selection {
  background-color: rgb(96, 130, 182);
  color: whitesmoke;
  font-family: 'Grenze-Light';
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 20px 0 35px 0;
}

h3 {
  color: rgb(0, 46, 99);
  font-family: 'Grenze-Bold';
  font-size: 26px;
  margin: 0 25px;
}