/* colors ---> dark blue (rgb 0,46,99), gray-blue (rbg96 130 182) */

html {
  scroll-behavior: smooth;
}

body {
  margin: 20px 0;
  max-width: 375px;
  overflow-x: hidden;
}

header {
  border-bottom: solid 2px rgb(0, 46, 99);
  padding-bottom: 30px;
  margin: 0 25px;
}

.page-title {
  color: rgb(0, 46, 99);
  font-family: 'Grenze-Light';
  font-size: 60px;
  text-align: center;
  margin: 0;
}

.chapters {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 25px;
}

.chapter-selection {
  background-color: rgb(96, 130, 182);
  color: whitesmoke;
  font-family: 'Grenze-Light';
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 20px 0 35px 0;
}

h3 {
  color: rgb(0, 46, 99);
  font-family: 'Grenze-Bold';
  font-size: 26px;
  margin: 0 25px;
}

.weights-show {
  margin: 25px 25px;
}

figure {
  margin: 0 25px;
}

.weights-opening {
  border: solid black 2px;
  margin: 0 70px 0 0;
}

.history {
  font-family: 'Grenze-Regular';
  text-align: justify;
  padding: 0 25px;
  margin: 30px 0 45px 0;
}

.creator-information {
  font-family: 'Grenze-Regular';
  text-align: justify;
  padding: 0 25px;
  margin: 30px 0 45px 0;
}

.interactive-ex {
  background-color: rgb(0, 46, 99);
  color: whitesmoke;
  font-family: 'Grenze-Thin';
  font-size: 45px;
  padding: 5px 25px;
  margin: 0;
}

.media-ex {
  background-color: rgb(161, 202, 241);
  color: whitesmoke;
  font-family: 'Grenze-Medium';
  font-size: 50px;
  padding: 5px 25px;
  margin: 0;
}

.designer-ex {
  background-color: rgb(96, 130, 182);
  color: whitesmoke;
  font-family: 'Grenze-Black';
  font-size: 50px;
  padding: 5px 25px;
  margin: 0;
}

.dw-exemple {
  margin-bottom: 25px;
}

.alphabet-normal {
  margin: 25px 25px 0;
}

.alphabet-gotisch {
  margin: 30px 25px;
}

.inspired-poster {
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  font-family: 'Iowan Old Style';
  color: rgb(0, 46, 99);
  margin: 10px 25px;
}

.normal-test {
  font-family: 'Grenze-Regular';
  font-size: 18px;
  margin: 0 25px 20px;
  padding: 5px;
  border: solid rgba(0, 46, 99, 0.2) 1px;
}

.gotisch-test {
  font-family: 'GrenzeGotisch-Regular';
  font-size: 18px;
  margin: 0 25px 20px;
  padding: 5px;
  border: solid rgba(0, 46, 99, 0.2) 1px;
}

.banner-devil p {
  color: whitesmoke;
  font-size: 30px;
  margin: 0;
  padding: 7px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  animation: fill 0.5s infinite alternate;
  flex-direction: column;
}

.top-banner {
  background-color: rgb(0, 46, 99);
  font-family: 'GrenzeGotisch-ExtraLight';
  overflow-x: hidden;
}

.top-banner p {
  width: fit-content;
  white-space: nowrap;
  animation: scroll-left 10s linear 0.5s infinite;
}

.middle-banner {
  background-color: rgb(96, 130, 182);
  font-family: 'GrenzeGotisch-Thin';
  overflow-x: hidden;
}

.middle-banner p {
  width: fit-content;
  white-space: nowrap;
  animation: scroll-left 15s linear 0.5s infinite;
}

.bottom-banner {
  background-color: rgb(161, 202, 241);
  font-family: 'GrenzeGotisch-Light';
  overflow-x: hidden;
}

.bottom-banner p {
  width: fit-content;
  white-space: nowrap;
  animation: scroll-left 5s linear 0.5s infinite;
}

/* animation */
@keyframes scroll-left {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 10px;
  font-family: 'Iowan Old Style';
  margin: 20px 25px;
}

footer p {
  border: 2px solid rgb(0, 46, 99);
  border-radius: 12px;
  padding: 10px;
  margin: 10px 30px 10px 5px;
}